div.main-text > * {
    font-size: 1em;
    display: block;
    flex-direction: center;
    padding: 10px;
}

h1 {
    text-align: center;
    margin: 15px;
    font-size: 2em;
    font-weight: bold;
}

article > * {
    margin: 1em;
}

.first-p > article > * {
    direction: flex;
    justify-content: justify;
    line-height: 2em;
    padding: 5px;
}